.side
  .side__header
    .user
      %span.user__name tsuruta
      / ユーザー情報編集ページへのリンク。if以降は非ログインユーザーに対するリダイレクト処理が実装できるまで仮置き
      = link_to "", edit_user_path(current_user), class: ["fa", "fa-cog", "user__option"] if user_signed_in?
      %a.fa.fa-pencil-square-o.user__option(href="#" title="")
  .side__body
    %ul.groups
      %li.group
        %h3.group__name 仲良しグループ
        %h4.group__text おはよう
      %li.group
        %h3.group__name 仲良しグループ
        %h4.group__text おはよう
      %li.group
        %h3.group__name 仲良しグループ
        %h4.group__text おはよう
