.side
  .side__header
    .user
      %span.user__name tsuruta
      = link_to "", edit_user_path(current_user), class: ["fa", "fa-cog", "user__option"]
      %a.fa.fa-pencil-square-o.user__option(href="#" title="")
  .side__body
    %ul.groups
      %li.group
        %h3.group__name 仲良しグループ
        %h4.group__text おはよう
      %li.group
        %h3.group__name 仲良しグループ
        %h4.group__text おはよう
      %li.group
        %h3.group__name 仲良しグループ
        %h4.group__text おはよう
