.container
  - if notice
    .notice
      #{notice}
  .wrapper
    = render :partial => "side"
    .main
      .main__header
        .group
          %h1.group__name 仲良しグループ
          %span.group__members Members: tsuruta, tanaka, suzuki
        %a.button(href="#" title="") Edit
      .main__body
        %ul.messages
          %li.message
            %span.message__name tanaka
            %span.message__date 2019/1/1 06:19:41
            %p.message__text message
          %li.message
            %span.message__name tanaka
            %span.message__date 2019/1/1 06:19:41
            %p.message__text message
          %li.message
            %span.message__name tanaka
            %span.message__date 2019/1/1 06:19:41
            %p.message__text message
      .main__footer
        %form.post
          %input.post__text(type="text" placeholder="type a message")
          %label
            %input.post__image(type="file" style="display:none")
            %i.fa.fa-picture-o.post__image-icon
          %input.post__submit(type="submit" value="Send")
