#container
  #notification
    チャットグループが作成されました。
  #wrapper
    #side
      #side__header
        %span tsuruta
        %a.fa.fa-cog.icon(href="#" title="")
        %a.fa.fa-pencil-square-o.icon(href="#" title="")
      #side__body
        %ul
          %li
            %h3 仲良しグループ
            %h4 おはよう
          %li
            %h3 仲良しグループ
            %h4 おはよう
          %li
            %h3 仲良しグループ
            %h4 おはよう
    #main
      #main__header
        #group-info
          %h1 仲良しグループ
          %span Members: tsuruta, tanaka, suzuki
        %a(href="#" title="") Edit
      #main__body
        %ul
          %li
            %span.name tanaka
            %span.date 2019/1/1 06:19:41
            %p message
          %li
            %span.name tanaka
            %span.date 2019/1/1 06:19:41
            %p message
          %li
            %span.name tanaka
            %span.date 2019/1/1 06:19:41
            %p message
      #main_input
        %form
          %input.post(type="text" placeholder="type a message")
          %input#upload(type="file" style="display:none")
          %i.fa.fa-picture-o.image-upload
          %input.submit(type="submit" value="Send")
