#container
  #notification
    チャットグループが作成されました。
  #wrapper
    #side
      #side-top
        %h2 tsuruta
      #side-body
        %ul
          %li
            %h3 仲良しグループ
            %h4 おはよう
          %li
            %h3 仲良しグループ
            %h4 おはよう
          %li
            %h3 仲良しグループ
            %h4 おはよう
          / %li
          /   %h3 仲良しグループ
          /   %h4 おはよう
          / %li
          /   %h3 仲良しグループ
          /   %h4 おはよう
          / %li
          /   %h3 仲良しグループ
          /   %h4 おはよう
          / %li
          /   %h3 仲良しグループ
          /   %h4 おはよう
          / %li
          /   %h3 仲良しグループ
          /   %h4 おはよう
          / %li
          /   %h3 仲良しグループ
          /   %h4 おはよう
    #main
      #main-top
        #group-info
          %h1 仲良しグループ
          %span Members: tsuruta, tanaka, suzuki
        %a(href="#" title="" target="_blank")
          Edit
      #main-body
        %ul
          %li
            %span.name tanaka
            %span.date 2019/1/1 06:19:41
            %p message
          %li
            %span.name tanaka
            %span.date 2019/1/1 06:19:41
            %p message
          %li
            %span.name tanaka
            %span.date 2019/1/1 06:19:41
            %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
          / %li
          /   %span.name tanaka
          /   %span.date 2019/1/1 06:19:41
          /   %p message
      #input
        %form
          %input.post(type="text" placeholder="type a message")
          %input.submit(type="submit" value="Send")
