.side
  .side__header
    .user
      %span.user__name #{current_user.name}
      = link_to "", edit_user_path(current_user), class: ["fa", "fa-cog", "user__option"]
      = link_to "", new_group_path, class: ["fa", "fa-pencil-square-o", "user__option"]
  .side__body
    %ul.groups
      - current_user.groups.each do |group|
        %li.group
          %h3.group__name #{group.name}
          %h4.group__text おはよう
