.main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  &__header {
    background-color: $primary-color-light;
    height: $header-height;
    margin-left: $main-padding-horizontal;
    margin-right: $main-padding-horizontal;
    .group {
      float: left;
      &__name {
        font-size: $font-xl;
        color: $text-color-dark;
        margin-top: 35px;
        margin-bottom: 15px;
        line-height: $font-xl;
      }
      &__members {
        font-size: 12px;
        color: $text-color-light;
      }
    }
    .button{
      display: block;
      height: 40px;
      padding: 0 20px;
      text-align: center;
      line-height: 40px;
      border: 2px solid $accent-color;
      float: right;
      margin-top: 28px;
      &:link, &:visited, &:hover, &:active {
        color: $accent-color;
        text-decoration: none;
      }
    }
  }
  &__body {
    background-color: $primary-color;
    flex: 1;
    overflow: scroll;
    border-top: 1px solid $primary-color-dark;
    .messages {
      margin-left: $main-padding-horizontal;
      margin-right: $main-padding-horizontal;
    }
    .message {
      margin-top: 40px;
      &__name {
        font-size: $font-l;
        font-weight: bold;
        color: $text-color-middle;
      }
      &__date {
        margin-left: 10px;
        font-size: $font-xs;
        color: $text-color-light;
      }
      &__text {
        margin-top: 10px;
        font-size: $font-s;
        color: $text-color-middle;
      }
    }
  }
}
