@import "config/variable";
@import "mixin/*";
@import "font-awesome";
@import "./reset";
@import "modules/*";

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#wrapper {
  display: flex;
  flex: 1;
}

